.navlist {
  position: absolute;
  list-style: none;
  padding-right: 3rem;
  padding-left: 1rem;
  padding-top: 2.5rem;
  top: 0;
  background: linear-gradient(90deg, white calc(100% - 3rem), transparent);
  height: 100%;
  transition: transform 0.5s ease-in;
  left: 0;
  transform: translate(-100%);
  z-index: 1;
  height: 100%;
}

.navbutton{
  position: relative;
  z-index: 2;
  margin-inline: 1rem;
}

.nav_open > ul{
  transition: transform 0.5s ease-out;
  transform: translate(0%);
}