.nav {
  position: absolute;
  top: 0;
  z-index: 2;
  --transistion-time: 0.3s;
}

.loginout{
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.75rem;
  margin-inline: 1rem;
  width: max-content;
  font-family: var(--ff_highlight);
}

.navcontainer{
  position: absolute;
  top: 0;
  transition: background-color var(--transistion-time);
}

.navlist {
  padding: 0;
  list-style: none;
  background-color: white;
  transition:
    transform var(--transistion-time) ease-in,
    opacity var(--transistion-time) ease-out;
}

.nav[nav-state="open"] ul{
  transition:
    transform var(--transistion-time) ease-out,
    opacity var(--transistion-time) ease-in;
  transform: translate(0);
  opacity: 1;
  box-shadow: 0 0 1rem #fff;

}
.nav[nav-state="closed"] ul{
  transform: translate(-100%);
  opacity: 0;
  position: fixed;
  pointer-events: none;
}

.nav[nav-state="open"] div{
  position: fixed;
}

.navbutton {
  position: relative;
  margin: 0.75rem;
  margin-inline: 1rem;
  z-index: 3;
  border: none;
  border-radius: 0;
}

.navbutton:hover,
.navbutton:focus-within{
  box-shadow: none;
  border-color: var(--clr_highlight);
  text-decoration: none;
  font-weight: 600;
}

.navlist a{
  padding: 0.5em 3em;
  width: 12rem;
  color: inherit;
  text-transform: capitalize;
}

.navlist a:hover,
.navlist a:focus-within{
  text-decoration: none;
  font-weight: 600;
}

.navlist li{
  font-family: var(--ff_highlight);
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--clr_dark);
  border-left: none;
  border-radius:  0rem;
  margin-top: 0.2em;
  padding: 0;
  transition: scale 100ms, box-shadow 100ms;
  font-size: calc(var(--f-size-base) + 0.25vmin);
}

.navlist li[is-active="true"]{
  color: var(--clr_highlight);
  border-color: var(--clr_highlight);
  font-weight: 800;
  text-decoration: none;
}

.navlist li[is-active="true"] a:hover,
.navlist li[is-active="true"] a:focus-within{
  font-weight: 800;
}

.navlist li:last-child{
  border-bottom-right-radius: 0.75rem;
}
.navlist li:first-child{
  border-top-right-radius: 0.75rem;
}

.navlist li:hover,
.navlist li:focus-within{
  scale: 1.03;
}

.active{
  border-color: var(--clr_highlight);
}

@media only screen and (max-width: 60rem) {
  .navlist{
    position: fixed;
    inset: 0;
    padding-top: 3.5rem;
    background-color: #fff8;
    backdrop-filter: blur(20px);
  }
  .nav[nav-state="open"] ul{
    transform: translate(0);
  }
  .nav[nav-state="closed"] ul{
    transform: translate(0);
  }
  .navlist li{
    border: 2px solid var(--clr_dark);
    border-radius: 0.75rem;
    max-width: 20rem;
    margin-inline: auto;
  }
}

.navbutton{
  background: none;
}

.logosmall{
  height: 3rem;
  aspect-ratio: 1;
  object-fit: contain;
  margin: .25rem auto;
}