.loginout{
  z-index: 3;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.75rem;
  margin-inline: 1rem;
  width: auto;
  height: 2rem;
  font-family: var(--ff_highlight);
}

.loginout * {
  display: inline-block;
  z-index: 3;
}