@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

  .heading {
    display:inline-flexbox;
    color: #691616;
    font-family: 'Jockey One', sans-serif;
    font-size: 54px;
    font-weight: 400;
    margin-left:0 auto;
    text-align: center;
  }
  

  
.CATT-logo {
    height: 81px;
    display:inline-flexbox;
  }
  


  .maintext {
    margin:0% 25% 0% 25%;
    text-align:"center";
    color: #3f3f3f;
    font-family: "Inter-Regular", Helvetica;
  }
  