@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

  .heading {
    margin:0 auto;
    display:flex;
    justify-content:center;
  }
  
  .title{
    color: #691616;
    font-family: 'Jockey One', sans-serif;
    font-size: 54px;
    font-weight: 400;
  }

  
.CATT-logo {
  margin-top:20px;
  float:left;
    height: 70px;
  }
  


  .maintext {
    margin:0% 25% 0% 25%;
    text-align:"center";
    color: #3f3f3f;
    font-family: "Inter-Regular", Helvetica;
  }
  