@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.label {
    height: 56px;
    width: 222px;
  }
  
  .label .text-wrapper {
    color: #691616;
    font-family: 'Jockey One', sans-serif;
    font-size: 54px;
    font-weight: 400;
    height: 56px;
    left: 0;
    letter-spacing: -1.08px;
    line-height: 42px;
    position: fixed;
    top: 0;
    width: 222px;
  }
  
  .image {
    height: 81px;
    width: 81px;
  }
  
  .image .CATT-logo {
    height: 81px;
    left: 0;
    object-fit: cover;
    position: fixed;
    top: 0;
    width: 81px;
  }
  