@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --clr_highlight: #691616;
    --clr_dark: #404040;
}
*, *::before, *::after {
    font: inherit;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Inter, sans-serif;
    line-height: 1.75em;
    color: var(--clr_dark);
    font-size: clamp(1rem, calc(1rem + .125vw), 1.125rem);
}
img {
    max-width: 100%;
    object-fit: cover;
    display: block;
}
main{
    padding: 1rem;
    position: relative;
}
section {
    margin-top: 0.5rem;
    max-width: 50rem;
    margin-inline: auto;
}
header{
    margin-block: clamp(1rem, calc(1rem + 3vh), 6rem);
}
a {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}
a:hover,
a:focus-within {
    outline: none;
}
button, input[type="submit"] {
    background-color: #eee;
    border-radius: 0;
    border: 1px solid black;
    cursor: pointer;
    padding: 0.25em .5em;
    font-size: 0.9em;
    border-radius: 0.25em;
    text-decoration: none;
    margin: 0.1em 0;
}
p {
    margin-top: 1em;
}
* + p {
    margin-bottom: 0.5em;
}
h1,
h2,
h3 {
    font-family: "Jockey One", serif;
    color: var(--clr_highlight);
    font-weight: 800;
    margin-top: 1rem;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 0.25em;
}
h1 {
    font-size: 2.25rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1rem;
}