.leaderboard{
  --spacing: clamp(0.125rem, 4vw, 3rem);
  --cell-size: calc(2.25rem + 1vw);
  list-style: none;
  padding: 0;
  border: 2px solid var(--clr_dark);
  box-shadow: var(--shadow-med);
}
.titleAndOptions{
  display: grid;
  grid-template-columns: 1fr auto;
  padding-bottom: .5rem;
  align-items: center;
}
.titleAndOptions * {
  margin: 0;
}
.selectcontainer{
  display: inline-block;
  font-size: .85rem;
}
.player ul, .headerrow ul{
  list-style: none;
  padding: calc(.25em + var(--spacing) / 4);
}
.playerstats *, .headerrow *{
  margin: 0;
}
.player ul{
  margin-block: clamp(0.5rem, calc(0.5rem + 1vh), 2rem);
}
.playerstats, .headerrow ul{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: var(--cell-size) 1fr;
  gap: var(--spacing);
}

.headerrow{
  background-color: var(--clr_dark);
}
.headerrow * {
  color: white;
  font-size: var(--f-size-base);
}
.name{
  font-family: var(--ff_base);
  font-size: var(--f-size-base);
  color: var(--clr_dark);
  font-weight: 400;
  width: 100%;
}
.rank{
  font-family: var(--ff_highlight);
  font-size: var(--f-size-large);
  font-weight: 800;
}
.stat, .rank{
  text-align: center;
  width: var(--cell-size);
}