.scoreboard, .actions{
  width: 95vmin;
  margin-inline: auto;
}
.scoreboard{
  box-shadow: var(--shadow-med);
  grid-template-columns: 1fr 1fr;
  display: grid;
  margin-block: 2rem;
}
.teamOne, .teamTwo{
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border: 4px solid var(--team-color);
}
.teamOne {
  --team-color: var(--clr_highlight);
  border-right-width: 2px;
}
.teamTwo{
  --team-color: var(--clr_dark);
  border-left-width: 2px;
}
.playerBottom, .playerTop{
  background-color: var(--team-color);
  color: white;
  padding: 0.5rem;
  text-align: center;
}
.playerTop, .playerBottom{
  font-family: var(--ff_highlight);
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: 600;
}
.playerBottom{
  grid-row: 3;
}
.scorecontainer{
  width: 100%;
  aspect-ratio: 1;
}
.score{
  font-size: clamp(3rem, 4vmax, 8vmin);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.buttoncontainer{
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scorecontainer button{
  min-width: 0;
  width: 2rem;
  aspect-ratio: 1;
  padding: 0;
}