.scoreboard, .actions{
  width: 95vmin;
  margin-inline: auto;
}
@media (max-height: 100vw) and (max-width: 50rem) {
  .scoreboard, .actions{
    width: 95vw;
  }
}
.scoreboard{
  box-shadow: var(--shadow-med);
  grid-template-columns: 1fr 1fr;
  display: grid;
  margin-block: 1.5rem;
  background-color: white;
  position: relative;
}
.scoreboard[data-fullscreen="true"]{
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-size: 2rem;
}
.teamOne, .teamTwo{
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  border: .25em solid var(--team-color);
}
.teamOne {
  --team-color: var(--clr_highlight);
  border-right-width: .125em;
}
.teamTwo{
  --team-color: var(--clr_dark);
  border-left-width: 2px;
}
.players{
  background-color: var(--team-color);
  color: white;
  padding: 0.5em;
  text-align: center;
  font-weight: 400;
  border-bottom: .25em solid var(--team-color);
}
.spacer{
  display: inline-block;
  width: 1.5em;
  color: var(--clr_med-dark);
}
.scorecontainer{
  width: 100%;
  transition: color 250ms;
}
.scorecontainer[data-winning="false"]{
  color: var(--clr_med-dark);
}
.scoreboard[data-fullscreen="false"] .scorecontainer{
  aspect-ratio: 1;
}
.scoreboard[data-fullscreen="true"] .scorecontainer{
  font-size: 10vw;
  font-weight: 300;
}
.scoreboard[data-fullscreen="true"] .scorecontainer button{
  font-size: 1.5vw;
}
.scoreboard[data-fullscreen="true"] .score{
  height: calc(100% - (2vw + 1rem));
}
.scoreboard[data-fullscreen="true"] .buttoncontainer{
  height: calc(2vw + 1rem);
}

.score{
  font-size: calc(1em + 5vmin);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 3rem);
}
.buttoncontainer{
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scorecontainer button{
  min-width: 0;
  height: 1.75em;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timercontainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  background-color: white;
  display: grid;
  border: .1875em solid var(--clr_med-dark);
  border-radius: .375em;
  justify-items: center;
  padding: 0.75em;

}
input.timerValue, .colon{
  font-size: 2.5em;
  margin: 0;
}
input.timerValue{
  padding: 0;
  margin: 0;
  border: none;
  width: 2ch;
  min-width: 0;
  border-radius: 0;
  grid-row: 1;
}
.colon{
  grid-row: 1;
  grid-column: 2;
  height: max-content;
  margin-block: auto;
  padding-bottom: .125em;
}
input.timerValue:disabled{
  opacity: 1;
  background-color: white;
}
input.timerValue:focus-within{
  outline: none;
}
.timerButton{
  margin: 0;
  grid-column: span 3;
  font-size: .75em;
}
.timerButton:hover, .timerButton:focus-within{
  box-shadow: none;
}
@keyframes flash{
  100% {
    color: color-mix(in srgb, var(--clr_med-dark) 50%, red 50%);
  }
}

input.timerValue[data-completed="true"]{
  animation: 0.25s infinite alternate flash;
}

.saveScreenContainer{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
  padding: 1rem;
  justify-items: center;
}
.saveScreenContainer * {
  max-width: max-content;
}
.saveScreenCompareText{
  font-family: var(--ff_highlight);
  font-weight: 600;
  font-size: var(--f-size-med);
}